.FooterItems{
    background: linear-gradient(90deg, #213B71 0%, #213B71 100%);
    height: 188px;
    display: flex;
    top: 3332px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}